html{
    background-color: slategray;
}

.fa {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin-top: 7px ;
}
.fa-h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 10vw;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-github{
  background:black;
  color:white;
}
.fa-whatsapp{
  background:green;
  color:white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-envelope-o{
  background: white;
  color: black;
}
.fa-telegram{
  background:#0088CC;
  color:white;
}
.fa-instagram {
    background-image: linear-gradient(to right, #F58529 , #FEDA77,#DD2A7B,#8134AF,#515BD4); /* Standard syntax (must be last) */  color: white;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  body{
    text-align: center;
  }
  .fa-h2{
    font-size: 5vw;
    color: white;
  }
  .fa-whatsapp{
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
  .fa-envelope-o{
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
  .fa-twitter {
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
  .fa-github{
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
  .fa-linkedin {
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
  .fa-telegram{
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
  .fa-instagram {
    padding: 20px;
    font-size: 75px;
    width: 75px;
    border-radius:50%;
    margin-right: 20px;
  }
}