.heading{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.heading h2{
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
body{
    background-color:cadetblue;
}